<div>
   <%= @booking.start_date %> </p><%= "to" %></p><%= @booking.end_date %>

</div>
<p><%= "Enjoy riding in our beautiful city!" %></p>

<%= link_to "Delete", booking_path( @booking ), method: :delete, data: { confirm: "Are you sure?" } %>
<%= link_to "Edit", edit_booking_path( @booking) %>

<%= link_to "New Booking", new_booking_path( booking_id: @booking.id ) %></h2>
