<!DOCTYPE html>
<html>
<head>
  <title>UberBikes</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<<<<<<< HEAD
=======
  <div class="backgroundcolor">
  </div>
>>>>>>> c3c981caaf94ae22a22fdb9cbd6f0ccbedc3ce8b
  <%= render "layouts/header" %>

  <main class="container">
     <%= yield %>
  </main>

</body>
</html>
