<!DOCTYPE html>
<html>
<head>
  <title>UberBikes</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="backgroundcolor">
  </div>
  <%= render "layouts/header" %>

  <main class="container">
     <%= yield %>
  </main>

</body>
</html>
